@{
    ViewBag.Title = "show";
}

<h2>show</h2>


<div>用户名：@TempData["userName"]</div>
<div>介绍：@TempData["intro"]</div>
<div>用户密码：@TempData["password"]</div>
<div>性别：@TempData["sex"]</div>
<div>城市：@TempData["city"]</div>
<div>头像：<img src="@TempData["img"]"/></div>
